{% block sidebar %}

        <style>
                .card{
                    box-shadow: 0 14px 48px #E3E7EB;
                }
            
        </style>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
        <div class="card my-4">
                <h5 class="card-header">SideBarrrrr</h5>
            <div class="card-body">
                <p class="card-text"> Sidebar info maybe good for bidding or cost details</p>
                <a href="#"
                class="btn btn-danger">Button bc why not</a>
            </div>
        </div>
        </div>
{% endblock sidebar %}